<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/axios.min.js}"></script>
</head>
<body>
<div id="login-box">
    <h1>Login</h1>
    <div class="form">
        <div class="item">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Username">
        </div>
        <div class="item">
            <i class="fa fa-key" aria-hidden="true"></i>
            <input type="password" placeholder="Password">
        </div>
    </div>
    <button>Login</button>
</div>



</body>

</html>