<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .console {
            height: 500px;
            width: 300px;
            border: 1px solid greenyellow;
        }
    </style>
</head>
<body>
    <h2>欢迎来到Websocket</h2>
    <div class="console">
    </div>
    <div>
        <input type="text" id="msg">
        <button onclick="sendMsg()">发送消息</button>
    </div>

</body>
<script th:src="@{/js/websocket.js}"></script>
</html>